{% load static %}
{% load thumbnail %}
<div class="card my-2 e-shadow">
    {% if brand.logo %}
        <img src="{{ brand.logo|thumbnail_url:'card' }}" class="card-img-top" alt="{{ brand.name }}">
    {% else %}
        <img src="{% static "images/defaultbrand.png" %}" class="card-img-top" alt="{{ brand.name }}">
    {% endif %}
    <div class="card-body  d-flex flex-column">
        <h5 class="card-title">{{ brand.name }}</h5>
        <p class="card-text">{{ brand.description|default:"" }}</p>
        <a href="{% url "main:brand" brand.id %}" class="btn btn-lg btn-block btn-primary mt-auto stretched-link">View</a>
    </div>
</div>